body {
	background-color: #8080ff;
	color: #ccccff;
	font-family: "Times New Roman", sans-serif;
	text-align: justify;
}

#mainheader {
	width:800px; 
	margin:0 auto;
	color: #ccccff;
	font-family: "Times New Roman", sans-serif;
	text-align: justify;
}

