body {
	background-color: rgb(192,192,192);
	background-size: 800px 800px;
	background-position: center;
	font-family: "Times New Roman", sans-serif;
	text-align: justify;
}

div#navigation {
	width: 150px; 
	height: 300px;
}

ol {
	list-style-type: upper-roman;

}

ol li {
	color: blue;
	background-color: #000eff;
}

ol li:hover {
	color: rgb(2, 2, 14);
	background-color: #006fff;
}


/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%; /* Set the width of the sidebar */
  background-color: #f1f1f1; /* Grey background color */
  padding: 20px; /* Some padding */
}

/* Main column */
.main {
  flex: 70%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
}