body {
	background-color: rgb(192,192,192);
	background-size: 800px 800px;
	background-position: center;
	font-family: "Times New Roman", sans-serif;
	text-align: justify;
}

ol {
	list-style-type: upper-roman;
}

ol li {
	color: blue;
	background-color: aliceblue;
}

ol li:hover {
	color: rgb(2, 2, 14);
	background-color: aqua;
}